.files-page{
    flex-direction: row-reverse;
    align-items: flex-start;
}
.files-page .files-stats{
    min-width: 260px;
    margin-left: 20px;
    align-items: flex-start;
}
@media (max-width: 767px) {
    .files-page{
        flex-direction: column;
        align-items: normal;
    }
    .files-page .files-stats{
        margin: 20px 0;

    }
    
}
.files-page .files-stats .icon{
    width: 40px;
    height: 40px;
    margin-right:10px ;
}
.files-page .files-stats .size{
    margin-left: auto;
}
.files-page .files-stats .blue{
    background-color: rgb(0 117 255 / 20%);
}
.files-page .files-stats .red{
background: rgb(255 0 0 / 20%);

}
.files-page .files-stats .green{
    background-color: rgb(34 197 94 / 20%);
}
.files-page .files-stats .orange{
    background-color: rgb(245 158 11 / 20%);
}
.files-page .files-stats .upload{
    margin: 15px auto 0;
    padding:10px 15px ;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.files-page .files-stats .upload:hover{
    background: var(--blue-alt-color);
}
.files-page .files-stats .upload:hover i{
    animation: go-up 0.8s infinite;
    -webkit-animation: go-up 0.8s infinite;
}
@keyframes go-up{
    0% , 100%{
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
}
    50%{
        transform: translateY(-5px);
        -webkit-transform: translateY(-5px);
        -moz-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
        -o-transform: translateY(-5px);
}

}



.files-page .files-content{
flex: 1;
grid-template-columns: repeat(auto-fill, minmax(200px ,1fr));
}
.files-page .files-content img{
    width: 64px;
    height: 64px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.files-page .files-content .file:hover img{
    transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
}
.files-page .files-content .info{
    border-top: 1px solid #eee;
}