.projects-page{
    grid-template-columns: repeat(auto-fill, minmax(500px , 1fr));
}
@media (max-width: 768px) {
    .projects-page{
        grid-template-columns: minmax(200px , 1fr);
        margin-left:10px;
        margin-right:10px;
        gap: 10px;
    }
}
.projects-page .project .date{
    position: absolute;
    right: 10px;
    top: 10px;
}
.projects-page .project h4{
    font-weight: normal;
}
.projects-page .project .team{
    position: relative;
    min-height: 80px;
}
.projects-page .project .team a{
    position: absolute;
    left: 0;
    bottom: 0;
}
.projects-page .project .team a:nth-child(2){
    left: 30px;
}
.projects-page .project .team a:nth-child(3){
    left: 60px;
    
}
.projects-page .project .team a:nth-child(4){
    left: 90px;
}
.projects-page .project .team a:nth-child(5){
    left: 120px;
}
.projects-page .project .team a:hover{
    z-index: 1000;
}
.projects-page .project .team img{
    width: 40px;
    height: 40px;
    border: 2px solid white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.projects-page .project .do{
    justify-content: flex-end;
    border-top: 1px solid #eee;
    padding-top: 15px;
    margin-top: 15px ;
}
@media (max-width: 768px) {
    .projects-page .project .do{
    flex-direction: column;
    }
    
}
.projects-page .project .do span{
    padding: 3px 9px;
    margin-left: 5px;
    width: fit-content;
}
@media (max-width: 768px) {
    .projects-page .project .do span:not(:last-child){
    margin-bottom: 15px ;
    }
    
}
.projects-page .project .info{
    border: 1px solid #eee;
    margin-top: 15px;
    padding-top: 15px;
}
@media (max-width: 768px) {
    .projects-page .project .info{
    /* margin-bottom: 15px ; */
    flex-direction: column;
    }
    
}
.projects-page .project .prog{
    height: 8px ;
    width: 260px;
    position: relative;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
@media (max-width: 768px) {
    .projects-page .project .prog{
        margin-bottom: 15px ;
    /* flex-direction: column; */
    }
}
.projects-page .project .prog span{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}